# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\DelmonsteR\Documents\GitHub\Projetos_Pequenos\.idea/dataSources/
/dataSources.local.xml
